body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #D62839;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.card {
  margin-top: 25px;
  background-color: #BA324F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 50vw;
  text-align: left;
  border: 0px;
  border-radius: 5px;
}


.content {
  display: flex;
  align-items: center; 
}

.content img {
  margin-right: 20px;
  border-radius: 5px;
  border: 0px;
}

.text-container {
  display: flex;
  flex-direction: column;
  color: #175676;
}

.text-container button {
  width: 500px;
  height: 75px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 5px;
  color: #175676;
}

.text-container button:hover {
  background-color: #999;
}

