body {
  background-color: #000;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(55, 172, 29);
}
.card {
  background-color: burlywood;
  border-radius: 5px;
  border: 0px;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.card .internal {
    padding: 70px 0;
    text-align: center;
  }

.card .internal img {
  border-radius: 5px;
} 